<!DOCTYPE html>
<html lang = "">
  <head>
    <title>inst2StudentAssignmentsPage</title>
  </head>
  <body>
    <%=a_name%><br>
    学生姓名    作业状态<br>
    <% course_students.map(function(stu, i) { %>
      <% stu.user_assignments.map(function(a, j) { %>
        <% if (a.a_name == a_name) {%>
          <a href="/oneAssignmentPage?a_log=<%= a.a_log%>&a_name=<%= a.a_name%>&a_courseID=<%=a.a_courseID%>&a_status=<%=a.a_status%>&a_release=<%=a.a_release%>&a_due=<%=a.a_due%>&a_questions=<%=a.a_questions%>"><%=stu.user_name%></a> 
          <%=a.a_status%><br>
        <% } %>
      <% }) %>
    <% }) %>
  </body>
</html>