<!DOCTYPE html>
<html lang = "">
  <head>
    <title>manuAddAssignmentPage</title>
  </head>
  <body>
    手动组卷
    <div><%=course_name%></div>
    <a href="/personalPage">主页</a>
    重改申请
    教师
    <div><%=course_inst%></div>
    账号
      <div>
        <form action="/assignments/manuAddAssignment?thisCourse=<%=thisCourse%>" method="post">
            <input type="text" class = "" name="a_name" placeholder="作业名称"><br>
            开始日期<input type="datetime-local" name="a_release" value="" placeholder="开始日期"><br>
            截止日期<input type="datetime-local" name="a_due" value="" placeholder="截止日期"><br>
          <input type="submit" class = "" name="submit" value="手动组卷">
        </form>


        <form action="/questions/search?thisCourse=<%=thisCourse%>" method="post">
          <input type="number" class = "" name="chapter" placeholder="章节">
          <select name="type">
                  <option value="MC">单选题</option>
                  <option value="NMC">多选题</option>
                  <option value="B">填空题</option>
                  <option value="TF">判断题</option>
                  <option value="W">简答题</option>
                  <option value="C">代码题</option>
          </select>
          <input type="number" class = "" name="min_difficulty" placeholder="最低">
          -
          <input type="number" class = "" name="max_difficulty" placeholder="最高">
          <input type="number" class = "" name="tags" placeholder="考点">
          <input type="submit" class = "" name="submit" value="搜索"><br>
          <div>
          ---------------------------------------  搜索部分  ---------------------------------------
            <% if (searchResult!= null) { %>
              <% searchResult.map(function(q, index) { %>
                <div class="row">
                  <span><a href="/assignments/addQ2A?thisCourse=<%=thisCourse%>&q_title=<%= q.q_title %>&q_description=<%= q.q_description %>&q_id=<%=q.q_id%>&q_type=<%=q.q_type%>&q_choices=<%=q.q_choices%>">add</a></span>
                  
                  <% if (q.q_type == "TF") { %>
                    <span>【判断题】</span>
                    <span><%= q.q_description%></span><br><br>
                  <% } %>
      
                  <% if (q.q_type == "B") { %>
                    <span>【填空题】</span>
                    <span><%= q.q_description%></span><br><br>
                  <% } %>
      
                  <% if (q.q_type == "W") { %>
                    <span>【简答题】</span>
                    <span><%= q.q_description%></span><br>
                  <% } %>
      
                  <% if (q.q_type == "C") { %>
                    <span>【编程题】</span>
                    <span><%= q.q_description%></span><br>
                  <% } %>
      
                  <% if (q.q_type == "MC") { %>
                    <span>【单选题】</span>
                    <span><%= q.q_description%></span><br>
                    <% for (var i=1; i<=q.q_choices.length; i++) { %>
                      <span><%=q.q_choices[i]%></span><br>
                    <% } %>
                  <% } %>
      
                  <% if (q.q_type == "NMC") { %>
                    <span>【多选题】</span>
                    <span><%= q.q_description%></span><br>
                    <% for (var i=1; i<=q.q_choices.length; i++) { %>
                      <span><%=q.q_choices[i]%></span><br>
                    <% } %>
                  <% } %>
                  <span>答案：<%= q.q_answer %></span><br>
                </div>
              <% }) %>
            <% } %><br>
              </div>
        </form>
        --------------------------------------- 已添加题目部分 ---------------------------------------
        <br>
        <% if (preview != null) { %>
          <% preview.map(function(q, index) { %>
            <span><%= index+1 %></span>
            <% if (q.q_type == "TF") { %>
              <span>【判断题】</span>
              <span><%= q.q_description%></span><br><br>
            <% } %>

            <% if (q.q_type == "B") { %>
              <span>【填空题】</span>
              <span><%= q.q_description%></span><br><br>
            <% } %>

            <% if (q.q_type == "W") { %>
              <span>【简答题】</span>
              <span><%= q.q_description%></span><br>
            <% } %>

            <% if (q.q_type == "C") { %>
              <span>【编程题】</span>
              <span><%= q.q_description%></span><br>
            <% } %>

            <% if (q.q_type == "MC") { %>
              <span>【单选题】</span>
              <span><%= q.q_description%></span><br>
              <% for (var i=1; i<=q.q_choices.split(",")[0]; i++) { %>
                <span><%=q.q_choices.split(",")[i]%></span><br>
              <% } %>
            <% } %>

            <% if (q.q_type == "NMC") { %>
              <span>【多选题】</span>
              <span><%= q.q_description%></span><br>
              <% for (var i=1; i<=q.q_choices.split(",")[0]; i++) { %>
                <span><%=q.q_choices.split(",")[i]%></span><br>
              <% } %>
            <% } %>

          <% }) %>
        <% } %>
      </div>
    </body>
  </html>
  