<!DOCTYPE html>
<html lang = "">
  <head>
    <title>oneAssignmentPage</title>
  </head>
  <body>
      <div><%= thisAssignment.a_name%></div>
      <div><%= thisAssignment.a_release%></div>
      <div><%= thisAssignment.a_due%></div>
      <div><%= thisAssignment.a_questions%></div>


      <% thisAssignment.a_log.map(function(l, index) { %>
        <%=l%>
      <%})%>

      <% qSet.map(function(q, index) { %>
        <span><%= index+1%></span>
        <% thisAssignment.a_log.map(function(a, index) { %>
          <% if (a[0]==q.q_id){%>
            <% if (q.q_type == "TF") { %>
              <span>【判断题】</span>
              <span><%= q.q_description%></span><br>
              <form action="/questions/submitOneQuestion?q_type=<%=q.q_type%>&a_course=<%=thisAssignment.a_courseID%>&a_log=<%=thisAssignment.a_log%>&a_questions=<%=thisAssignment.a_questions%>&a_name=<%=thisAssignment.a_name%>&a_release=<%=thisAssignment.a_release%>&a_due=<%=thisAssignment.a_due%>&q_id=<%=q.q_id%>&q_right=<%=q.q_answer%>&q_full_score=<%=q.q_difficulty%>" method="post">
                <% if (a[1] == '1') {%>
                  <input type="radio" name="stu_answer" value=1 checked/>正确<br>
                  <input type="radio" name="stu_answer" value=0>错误<br>
                <% } else if (a[1] == '0') { %>
                  <input type="radio" name="stu_answer" value=1>正确<br>
                  <input type="radio" name="stu_answer" value=0 checked/>错误<br>
                <% } else { %>
                  <input type="radio" name="stu_answer" value=1>正确<br>
                  <input type="radio" name="stu_answer" value=0>错误<br>
                <% } %>
                <input type="submit" name="submit">
              </form>
            <% } %>
          <% } %>
        <%})%>


        

        
      <% }) %>

      
  </body>
</html>
