<!DOCTYPE html>
<html lang = "">
  <head>
    <title>oneAssignmentPage</title>
  </head>
  <body>
      <div><%= thisAssignment.a_name%></div>
      <div><%= thisAssignment.a_release%></div>
      <div><%= thisAssignment.a_due%></div>
      <div><%= thisAssignment.a_questions%></div>

      <% qSet.map(function(q, index) { %>
        <span><%= index+1%></span>
        <% if (q.q_type == "TF") { %>
          <span>【判断题】</span>
          <span><%= q.q_description%></span><br>
          <form action="/questions/submitOneQuestion?index=<%=index%>&a_questions=<%=thisAssignment.a_questions%>&a_name=<%=thisAssignment.a_name%>&a_release=<%=thisAssignment.a_release%>&a_due=<%=thisAssignment.a_due%>&q_id=<%=q.q_id%>&q_right=<%=q.q_answer%>&q_full_score=<%=q.q_difficulty%>" method="post">
            <% if (stu_answers[q.q_id] == '1') {%>
              <input type="radio" name="stu_answer" value=1 checked/>正确<br>
              <input type="radio" name="stu_answer" value=0>错误<br>
            <% } else if (stu_answers[q.q_id] == '0') { %>
              <input type="radio" name="stu_answer" value=1>正确<br>
              <input type="radio" name="stu_answer" value=0 checked/>错误<br>
            <% } else { %>
            <input type="radio" name="stu_answer" value=1>正确<br>
            <input type="radio" name="stu_answer" value=0>错误<br>
            <% } %>
            <input type="submit" name="submit">
          </form>
        <% } %>

        <% if (q.q_type == "B") { %>
          <span>【填空题】</span>
          <span><%= q.q_description%></span><br>
          <% for (var i=0; i<q.q_num_of_blanks; i++) { %>
            <input type="text" name="stu_answer" placeholder="第<%=i+1%>空"><br>
          <% } %>
        <% } %>

        <% if (q.q_type == "W") { %>
          <span>【简答题】</span>
          <span><%= q.q_description%></span><br>
          <form action="" method="post">
            <textarea name="stu_answer" value="" placeholder="输入答案"></textarea><br>
            <input type="submit" name="submit">
          </form>
        <% } %>

        <% if (q.q_type == "C") { %>
          <span>【编程题】</span>
          <span><%= q.q_description%></span><br>
          <form action="" method="post">
            <textarea name="stu_answer" placeholder="输入代码" value=""></textarea> or <input type="file" class = "" name="ans_code_file" value="" placeholder=""><br>
            <input type="submit" name="submit">
          </form>
        <% } %>

        <% if (q.q_type == "MC") { %>
          <span>【单选题】</span>
          <span><%= q.q_description%></span><br>
          <% for (var i=1; i<q.q_choices.length; i++) { %>
            <input type="radio" name="stu_answer" value="<%=i%>"><%=q.q_choices[i]%><br>
          <% } %>
        <% } %>

        <% if (q.q_type == "NMC") { %>
          <span>【多选题】</span>
          <span><%= q.q_description%></span><br>
          <% for (var i=1; i<q.q_choices.length; i++) { %>
            <input type="checkbox" name="stu_answer" value="<%=i%>"><%=q.q_choices[i]%><br>
          <% } %>
        <% } %>
        提交状态<br><br>
      <% }) %>
      
  </body>
</html>
