<!DOCTYPE html>
<html lang = "">
  <head>
    <title>oneAssignmentPage</title>
  </head>
  <body>
      <div><%= thisAssignment.a_name%></div>
      <div><%= thisAssignment.a_release%></div>
      <div><%= thisAssignment.a_due%></div>
      <div><%= thisAssignment.a_questions%></div>
      ------------ coding question testing -------------<br>
     <form action="/questions/submitCodingQuestion" method="post">
      <textarea name="ans_code" placeholder="Your code start here:"></textarea> or <input type="file" class = "" name="ans_code_file" value="" placeholder=""><br>
      <div><a href="https://c.runoob.com/compile/11?code=<%=test%>">C compiler</a> </div>
    </form>
  </body>
</html>


      <!-- <input type="submit" value="submit"> -->