<!DOCTYPE html>
<html lang = "">
  <head>
    <title>oneAssignmentPage</title>
  </head>
  <body>
      <div><%= thisAssignment.a_name%></div>
      <div><%= thisAssignment.a_release%></div>
      <div><%= thisAssignment.a_due%></div>
      <div><%= thisAssignment.a_questions%></div>
      ------------ coding question testing -------------<br>
      <textarea name="ans_code" placeholder="Your code start here:"></textarea><br>
      <div><a href="https://www.w3cschool.cn/tryrun/runcode?lang=c&codecontent=<%=test%>">C compiler</a> </div>
  </body>
</html>
