<!DOCTYPE html>
<html lang = "">
  <head>
    <title>personalPage</title>
    <%- include head %>
  </head>
  <body>
    <div>好友信息展示</div>
    <div class="list">
        <% list.map(function(item, index) { %>
            <div class="row">
                <span><%= index+1 %></span>
                <span><%= item.user_friends %></span>
                <span><%= item.user_assignments %></span>
                <span><%= item.user_name %></span>
                <span>Submitted Date</span>
                <span>Due Date</span>
                </div>
        <% }) %>
    </div><br>

    <div>课程信息展示</div>
    <div><a href="/coursePage">课程1</a></div>
    <div><a href="/coursePage">课程2</a></div>
  </body>
</html>
