<!DOCTYPE html>
<html lang = "">
  <head>
    <title>personalPage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <style>
      body{
          background: white;
      }
      .left{
        position: absolute;
        width: 280px;
        height: 1024px;
        left: 0px;
        top: 0px;
        background: #CC6969;
        border: 1px solid #CCCBCC;
        box-sizing: border-box;
        backdrop-filter: blur(16px);
    }
    .right{
        position: absolute;
        width: 1480px;
        height: 1024px;
        left: 280px;
        top: 0px;
        background: rgba(204, 203, 204, 0.24);
        border: 1px solid #CCCBCC;
        box-sizing: border-box;
        backdrop-filter: blur(16px);
    }
    .user_email{
      position: absolute;
      left: 26.65%;
      right: 90.21%;
      top: 29.75%;
      font-family: Salsa;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      display: flex;
      align-items: center;

      color: #FFFFFF;

      mix-blend-mode: normal;
  }
  .course_link{
      position: absolute;
      left: 26.65%;
      right: 90.21%;
      top: 34.25%;
      width: 200px;
      color:white;
      font-family: Noto Sans SC;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 26px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: rgba(255, 255, 255, 0.7);

      mix-blend-mode: normal;
  }
  .analysis_link{
      position: absolute;
      left: 26.65%;
      right: 90.21%;
      top: 38.75%;
      width: 200px;
      font-family: Noto Sans SC;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 26px;
      /* identical to box height */

      display: flex;
      align-items: center;

      color: rgba(255, 255, 255, 0.7);

      mix-blend-mode: normal;
  }
  .user_name{
    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    position: absolute;
    left: 26.33%;
    right: 72.92%;
    top: 16.68%;
    bottom: 71.68%;
  }
  .user_type{
    position: absolute;
    left: 34.82%;
    right: 72.43%;
    top: 19.71%;
    width: 30%;
    bottom: 68.65%;

    font-family: Salsa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    mix-blend-mode: normal;
  }
  #book{
    position: absolute;
    width: 20px;
    height: 16px;
    left: 12%;
    top: 34.75%;
    color: rgba(255, 255, 255, 0.7);
  }
  #courses{
    position: absolute;
    width: 20px;
    height: 16px;
    left: 12%;
    top: 30.2%;
    color: white;
  }
  #analysis{
    position: absolute;
    width: 28px;
    height: 17px;
    left: 12%;
    top: 39.2%;
    color: rgba(255, 255, 255, 0.7);
  }
  .my_class{
    position: absolute;
    left: 2.39%;
    right: 66.39%;
    top: 3.08%;
    

    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 38px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;

    mix-blend-mode: normal;
  }
  .semester_one{
    position: absolute;
    left: 2.39%;
    right: 66.39%;
    top: 7.08%;
    

    font-family: Noto Sans SC;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 38px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;

    mix-blend-mode: normal;
  }
  .right_bottom{
    padding-top:150px;
  }
  .profile_pic{
    padding-left:18%;
    padding-top: 10%;

  }
  .box{
    position: relative;
    background: lightgray;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    width: 281px;
    height: 227px;
    backdrop-filter: blur(16px);
  }
  .course_name{
    font-family: Arial;
    color: #000000;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
  }
  .inner_box{
    position: relative;
    background: #CC6969;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    top:100px;
    width: 281px;
    height: 45px;
    backdrop-filter: blur(16px);
  }

  ul li {
    display: inline; /* Prevents "stepdown" */
    position: relative;
    padding-left: 50px;
    padding-bottom: 100px;
    float: left;
    /* clear: inline-end; */
  }
  .add_box{
    position: absolute;
    background: lightgray;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    width: 281px;
    height: 227px;
    top: 500px;
    left: 90px;
    backdrop-filter: blur(16px);
    text-align: center;
    padding-top: 80px;
  }
  .num_assignments{
    font-family: sans-serif;
    padding-left: 5%;
    padding-top: 3.5%;
    font-size: 18px;
    color:white;
  }
  .course_id{
    position: relative;
    padding-top: 5%;
    left: 5%;
    font-size: 22px;
    font-weight: 80;
    font-family: Verdana;
  }
  .full_course_name{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 5%;
  }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
        padding-left: 5%;
      }
      input[type=text] {
          color: white;
          font-size: 16px;
      }
      .submit_button{
        position: absolute;
        appearance: none;
        border-radius: 20px;
        left:73px;
        height:40px;
        width: 130px;
        background-color: #CC6969;
        color: white;
        padding-right: 10px;
        font-size: 18px;
        border: 1px solid #CCCBCC;
      }
      .input_class{
        box-sizing: border-box;
        background: #CC6969;
        border-radius: 20px;
        height:45px;
        width:200px;
        padding-left: 5%;
        border: 1px solid #CCCBCC;
      }
      .submit_graph{
        padding-top: 30px;
      }

    </style>
  </head>
  <body>


    <div class = "left">
      

      <div class = "profile_pic"><img src="https://www2.eecs.berkeley.edu/Faculty/Photos/Homepages/nweaver.jpg" 
          height="150" width="150" style="border-radius: 50%; border-style: solid; border-color: white"></div>
      <div class = "user_name"><%= item.user_name %></div>
      <div class = "user_email"><%= item.user_email %></div>
      
      <% if (item.user_type == 'I'){ %>
        <p class = "user_type">教授</p >
      <% } else { %>
        <div class = "user_type">学生</div>
        <% } %>
      <i id = "book" class = "fa fa-book"></i>
      <i id = "courses" class = "fa fa-envelope-o"></i>
      <i id = "analysis" class = "fa fa-address-card"></i>
      <div ><a class = "course_link" href=" ">课程主页</a ></div>
      <div ><a class = "analysis_link" href="/analysisPage">学情分析</a ></div>
    </div>

    <div class = "right">
      <div class = "right_top">
          <div class = "my_class">我的课程</div>
          <div class = "semester_one">2020第一学期</div>
      </div>
      
      
      
      <div class = "right_bottom">
        <% item.user_courses.map(function(course, index) { 
          var course_name = course.split('_')[0]
          var course_inst = course.split('_')[1]
          %>
          <ul>
            <li>
              <div class = "box">
                <a class = "course_name" href="/coursePage?thisCourse=<%=course%>"><h1 class = "course_id"><%= course_name %></h1></a >
                <p class = "full_course_name"><%=course_inst%></p >
                <div class = "inner_box"><h1 class = "num_assignments">5个作业</h1></div>
            </div>
            </li>
          </ul>
        <% })%>

        <div class = "add_box">
          <form action="/courses/addCourse" method="post">
            <div><input class = "input_class" type="text" name="courseName" value="" placeholder="请输入新增课程名称"></div>
            <div class = "submit_graph"><input class = "submit_button" type="submit" name="" value="确认"></div>
          </form>
        </div>

      
    </div>

    
  </div>


  </div>
  </body>
</html>
