<!DOCTYPE html>
<html lang = "">
  <head>
    <title>personalPage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
  </head>
    <style>
      body{
          background: rgba(204, 203, 204, 0.24);
      }
      .left{
        position: fixed;
        width: 16%;
        height: 100%;
        left: 0px;
        top: 0px;
        z-index: 1;
        background: #CC6969;
        border: 1px solid #CCCBCC;
        box-sizing: border-box;
        backdrop-filter: blur(16px);
    }
    .right{
        position: absolute;
        width: 82%;
        height: 100%;
        left: 18%;
        background: ffffff;
        border: 1px solid rgba(204, 203, 204, 0.24);
        border: transparent;
        backdrop-filter: blur(16px);
    }
    .user_email{
      position: absolute;
      left: 26.65%;
      top: 32%;
      color: rgba(255, 255, 255, 0.8);
      font-size: 18px;
    }
      
  .course_link{
      position: absolute;
      left: 26.65%;
      top: 37%;
      color: rgba(255, 255, 255, 0.8);
      font-size: 18px;
  }
  .analysis_link{
      position: absolute;
      left: 26.65%;
      top: 42%;
      color: rgba(255, 255, 255, 0.8);
      font-size: 18px;
  }
  .user_name{
    font-size: 25px;
    color: #FFFFFF;
    position: absolute;
    left: 24%;
    top: 22%;
  }
  .user_type{
    position: absolute;
    font-size: 22px;
    color: #FFFFFF;
    left: 37%;
    top: 26%;
  }
  #book{
    position: absolute;
    left: 12%;
    top: 37%;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
  }
  #courses{
    position: absolute;
    left: 12%;
    top: 32%;
    font-size: 24px;
    color: white;
  }
  #analysis{
    position: absolute;
    font-size: 24px;
    left: 12%;
    top: 42%;
    color: rgba(255, 255, 255, 0.7);
  }
  .my_class{
    position: absolute;
    left: 2.39%;
    top: 3.08%;
    font-size: 26px;
  }
  .semester_one{
    position: absolute;
    left: 2.39%;
    top: 7.08%;
    font-size: 20px;
  }
  .right_bottom{
    padding-top:150px;
  }
  .profile_pic{
    padding-left:18%;
    padding-top: 10%;

  }
  .box{
    position: relative;
    background: lightgray;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    width: 281px;
    height: 227px;
    backdrop-filter: blur(16px);
  }
  .course_name{
    font-family: Arial;
    color: #000000;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
  }
  .inner_box{
    position: relative;
    background: #CC6969;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    top:100px;
    width: 281px;
    height: 45px;
    display: inline-block;
    backdrop-filter: blur(16px);
  }

  ul li {
    display: inline; /* Prevents "stepdown" */
    position: relative;
    padding-left: 35px;
    padding-bottom: 100px;
    float: left;
    /* clear: inline-end; */
  }
  .add_box{
    position:sticky;
    background: lightgray;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    width: 281px;
    height: 227px;
    top: 500px;
    left: 90px;
    backdrop-filter: blur(16px);
    text-align: center;
    padding-top: 80px;
  }
  .num_assignments{
    font-family: sans-serif;
    padding-left: 5%;
    padding-top: 3.5%;
    font-size: 18px;
    color:white;
  }
  .course_id{
    position: relative;
    padding-top: 5%;
    left: 5%;
    font-size: 22px;
    font-weight: 80;
    font-family: Verdana;
  }
  .full_course_name{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    padding-left: 5%;
  }
      ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
      }
      input[type=text] {
          color: white;
          font-size: 16px;
      }
      .submit_button{
        position: relative;
        appearance: none;
        border-radius: 20px;
        left:73px;
        height:40px;
        width: 130px;
        background-color: #CC6969;
        color: white;
        padding-right: 10px;
        font-size: 18px;
        border: 1px solid #CCCBCC;
      }
      .input_class{
        box-sizing: border-box;
        background: #CC6969;
        border-radius: 20px;
        left: 3%;
        position: relative;
        height:45px;
        width:200px;
        padding-left: 1.5%;
        border: 1px solid #CCCBCC;
      }
      .submit_graph{
        padding-top: 30px;
      }
      .addcourse{
        padding-top: 60px;
        padding-left: 5%;
      }
      #account_icon{
      color:rgba(255, 255, 255, 0.7);
      position: relative;
      font-size: 40px;
      left: 12%;
    }
    .account{
      font-size: 26px;
      color: rgba(255, 255, 255, 0.6);
      position: relative;
      left:15%;
    }

    </style>
  <body>


    <div class = "left">
    
      <div class = "profile_pic"><img src="https://www2.eecs.berkeley.edu/Faculty/Photos/Homepages/nweaver.jpg" 
           height="150" width="150" style="border-radius: 50%; border-style: solid; border-color: white"></div>

      <div class = "user_name"><%= item.user_name %></div>
      <% if (item.user_type == 'I'){ %>
        <p class = "user_type">教授</p >
       
      <% } else { %>
        <div class = "user_type">学生</div>
        
        <% } %>
        <br><br> <br><br>
      <span><i id = "courses" class = "fa fa-envelope-o"></i></span>
      <span class = "user_email"><%= item.user_email %></span>
      <br>
      <span><i id = "book" class = "fa fa-book"></i></span>
      <span><a class = "course_link" href=" ">课程主页</a ></span>
      <br>
      <span><i id = "analysis" class = "fa fa-address-card"></i></span>
      <span><a class = "analysis_link" href="/analysisPage">学情分析</a ></span>

        <br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br>
        <span><i id = "account_icon" class = "fa fa-user-circle-o"></i></span>
        <span class = "account">账号</span>
    </div>

    <div class = "right">
      <div class = "right_top">
          <div class = "my_class">我的课程</div>
          <div class = "semester_one">2020第一学期</div>
      </div>
      
      
      
      <div class = "right_bottom">
          <% item.user_courses.map(function(course, index) { 
            var course_name = course.course_id.split('_')[0]
            var course_inst = course.course_id.split('_')[1]
            %>
            <span div class = "classes_box"><ul>
              <li>
                <div class = "box">
                  <a class = "course_name" href="/coursePage?thisCourse=<%=course.course_id%>"><h1 class = "course_id"><%= course_name %></h1></a >
                  <p class = "full_course_name"><%=course_inst%></p >
                  <div class = "inner_box"><h1 class = "num_assignments">5个作业</h1></div>
              </div>
              </li>
            </ul>
          </span>
          <% })%>

        <!-- <div class = "add_box"> -->
          <form class = "addcourse" action="/courses/addCourse" method="post">
            <div><input class = "input_class" type="text" name="courseName" value="" placeholder="请输入新增课程名称"></div>
            <% if (userType == 'S') { %>
              <div><input class = "input_class" type="text" name="instName" value="" placeholder="请输入新增课程教师"></div>
            <% } %>
            <div class = "submit_graph"><input class = "submit_button" type="submit" name="" value="确认"></div>
          </form>
        <!-- </div> -->

      
    </div>

    
  </div>


  </div>
  </body>
</html>